@keyframes title-animation {
  5% {content : 'B';} 
  10% {content : 'Ba';} 
  15% {content : 'Bas';} 
  20% {content : 'Basi';} 
  25% {content : 'Basic ';} 
  30% {content : 'Basic C';}
  35% {content : 'Basic CR';} 
  45% {content : 'Basic CRU';}
  50% {content : 'Basic CRUD';}
}
  
@keyframes title-icon-animation {
  from { transform: rotate(0deg);}
  to {  transform: rotate(359deg);}
}
  
@keyframes subtitle-animation {
  0% {text-shadow: 0 0 0.5rem rgba(255, 255, 0, 0.5);}    
  50% {text-shadow: 0 0 5rem rgba(255, 255, 255, 0.5);}
  100% {text-shadow: 0 0 0.5rem rgba(255, 145, 0, 0.5);}
}   